body {
    font-family: 'Poppins', sans-serif;
}

section {
    display: flex;
}

h1 {
    font-size: 50px;
}

.purple_color {
    color: #640364d2;
}

.half_width {
    width: 50%;
    padding-left: 5%;
}

.half_width img {
    width: 80%;
}

.link_button {
    text-decoration: none;
    font-size: 20px;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: #ffffff;
    font-weight: 700;
    border-radius: 5px;
}