body {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}

.flexible_container {
    display: flex;
    margin-bottom: 100px;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.purple_color {
    color: #640364d2;
}

.half_width {
    width: 50%;
    padding-left: 5%;
}

.half_width img {
    width: 80%;
}

.link_button {
    text-decoration: none;
    font-size: 20px;
    background-image: linear-gradient(#ffa500, #ff6347);
    padding: 10px 40px;
    color: #ffffff;
    font-weight: 700;
    border-radius: 5px;
}

.top_banner {
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;


}

.dream_big {
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}



.experience_area {
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience_item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 40px #c4b7b2;
    border-radius: 10px;
}

#web_dev_experience {
    border-left: 7px solid;
    border-image: linear-gradient(#0000ff, #00ffff);
    border-image-slice: 1;

}

#full_stack_experience {
    border-left: 7px solid;
    border-image: linear-gradient(#ff0404, #320344ea);
    border-image-slice: 1;
}

footer p {
    text-align: center;
}