body {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}

section {
    display: flex;
    margin-bottom: 100px;
}

h1 {
    font-size: 50px;
}

.purple_color {
    color: #640364d2;
}

.half_width {
    width: 50%;
    padding-left: 5%;
}

.half_width img {
    width: 80%;
}

.link_button {
    text-decoration: none;
    font-size: 20px;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: #ffffff;
    font-weight: 700;
    border-radius: 5px;
}

.top_banner {
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;


}

.dream_big {
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;

}


.half_width1 {
    width: 50%;
    padding-left: 5%;
}

.half_width1 img {
    width: 80%;
}